[data-editor-loading] {
  position: relative;
  display: flex;
  @include gl-justify-content-center;
  align-items: center;
  @include gl-z-index-0;

  > * {
    filter: blur(5px);
  }

  &::before {
    content: '';
    @include spinner-deprecated(32px, 3px);
    position: absolute;
    @include gl-z-index-1;
  }

  pre {
    opacity: 0;
  }
}

[id^='source-editor-'] {
  height: 500px;
}

.source-editor-preview {
  display: flex;

  .md {
    @include gl-overflow-scroll;
    @include gl-px-6;
    @include gl-py-4;
    width: 100%;
  }

  .gl-source-editor {
    @include gl-order-n1;
    border-radius: 0 0 $border-radius-default $border-radius-default;
  }
}

.monaco-editor.gl-source-editor {
  // Fix unreadable headings in tooltips for syntax highlighting themes that don't match general theme
  &.vs-dark .markdown-hover {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: $source-editor-hover-light-text-color;
    }
  }

  &.vs .markdown-hover {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: $source-editor-hover-dark-text-color;
    }
  }

  .margin-view-overlays {
    .line-numbers {
      display: flex;
      @include gl-justify-content-end;
      position: relative;

      &::before {
        @include gl-visibility-hidden;
        @include gl-align-self-center;
        @include gl-bg-gray-400;
        @include gl-mr-2;
        @include gl-w-4;
        @include gl-h-4;
        mask-image: url('icons-stacked.svg#link');
        mask-repeat: no-repeat;
        mask-size: cover;
        mask-position: center;
        content: '';
      }

      &:hover {
        @include gl-text-decoration-underline;
        cursor: pointer !important;
      }

      &:hover::before {
        @include gl-visibility-visible;
      }

      &:focus::before {
        @include gl-visibility-visible;
        outline: auto;
      }

      .link-anchor {
        @include gl-display-block;
        position: absolute;
        width: 100%;
        height: 100%;
      }
    }
  }

  // Remove custom focus from element
  .inputarea {
    @include gl-shadow-none;
  }
}

.active-line-text {
  @include gl-bg-orange-600;
  @include gl-opacity-3;
}
